@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
    @apply px-2;
}

.bg-primary {
    background: rgb(85, 81, 277);
}

.bg-secondary {
    background: #2b2d77;
}

.mobile-nav{
    @apply fixed top-10 left-0 bg-[#2B2D77] w-full h-48 p-1 opacity-90;
}

.mobile-nav.scrolled {
    display:none;
}

.mobile-nav a{
    @apply w-full p-1 text-center bg-gray-800 m-auto rounded;
}

.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-80 flex flex-col justify-center;
}

.btn{
    @apply bg-primary px-5 py-2 font-bold border-2 border-secondary hover:border-white rounded;
}

html {
    scroll-behavior: smooth;
}